@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}


.animate-on-load {
    opacity: 0;  /* Start with opacity 0 */
    transform: translateY(30px);  /* Start slightly lower */
    animation: fadeInUp 1s forwards;  /* Animation runs for 1 second */
    animation-delay: 0.5s;  /* Optional: delay to make it more gradual */
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }